.banner {
    text-align: center;
   
  }
  .banner h1 {
    font-size: 4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    padding: 0 1rem;
    letter-spacing: 6px;
    color: #795aa4;
  }
  .banner p {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 2rem;
    color:white;
    font-size: 3rem;
  }
  
  @media screen and (min-width: 768px) {
    .banner h1 {
      font-size: 4.5rem;
    }
    .banner p {
      width: 70%;
    }
  }
  
  @media (max-width: 400px) {
    .banner h1 {
      font-size: 1.5rem;
    }
    .banner p {
      width: 15%;
      font-size: 1.5rem;
    }
}